* {
    box-sizing: border-box;
}

html {
    background: url(images/intro.jpg) center no-repeat fixed;
    background-color: black;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #fff;
}

h1 {
    font-size: 16px;
    margin: 0 0 10px;
}

b {
    font-size: 12px;
    font-weight: bold;
}

ul {
    padding-left: 10px;
}
li {
    padding: 0 0 10px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.content {
    width: 300px;
    height: 360px;
    margin: 0 0 20px;
    padding: 20px;
    background-color: rgba(51, 51, 51, .7);
    border-radius: 10px;
    position: relative;
}

.float {
    float:right;
    
    right: 0;
    top: -380px;
}

.floatSecond {
    float:right;
    
    right: 0;
    top: -380px;
}

.float h1, .floatSecond h1 {
    text-align: right;
}

table {
    width: 960px;
    background-color: rgba(51, 51, 51, .7);
    border: black solid 3px;
    margin: 0 auto;
    position: relative;
    top: -300px;
}

thead {
    font-size: 14px;
}

th, td {
    border: black solid 3px;
}